<div style="height: 500px;" id="advance_content">
		<div id="beforContent" style="height: 100px; overflow: auto;">
		<br/>
			<div><h3>&nbsp;&nbsp;&nbsp;&nbsp;这里设置确认提前还款的费用信息</h3></div><br/>
			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;借款人违约金[金额]:<input id="damages"  value="$!{damages}"/></div>
			<div>
				<center>
					<input type="button" onclick="count()" value="计算">
					<input type="button" onclick="closeDialog()" value="关闭">
					#set($borroePeriod = $!borrow.borroePeriod)
					#if($!isAdvanceRepay)
						<input type="button" onclick="advanceRepay()" style="color: red;" value="提前还款">
					#else
						<input type="button" style="color: #7B7B7B;" value="提前还款">
					#end
				</center>
			</div>
		</div>
		#if($!isAdvanceRepay)
			<div style="height: 400px; overflow: auto;" id="content">
				<div class="info-table3">
					<input type="hidden" id="advance_bid" value="$!{borrow.id}"/>
					<input type="hidden" id="advance_productTypeId" value="$!{borrow.productTypeId}"/>
					<table cellpadding="0" cellspacing="0" id="firstTable">
						<thead>
							<tr>
								<th colspan="4"><h2>借款详细情况</h2></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="name">借款人（用户名）：</td>
								<td id="cusUserNameDialog">$!{borrow.userName}</td>
								<td class="name">标的名称：</td>
								<td id="dialogBorrowName">$!{borrow.title}</td>
							</tr>
							<tr>
								<td class="name">贷款金额：</td>
								<td id="borrowAmountDialog">$!{borrow.borrowAmount}</td>
								<td class="name">贷款期限：</td>
								<td id="borroePeriodDialog">#if($!borrow.periodTimeUnit==0)
									$!{borrow.borroePeriod}天 #else $!{borrow.borroePeriod}个月 #end</td>
							</tr>
							<tr>
								<td class="name">年 利 率：</td>
								<td id="borrowAnnualYieldDialog">$!{borrow.borrowerAnnualYield}</td>
								<td class="name">借款日期：</td>
								<td id="currentDateDialog">
									$!date.format('yyyy-MM-dd',$!{borrow.gmtCreated})</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th colspan="4"><h2>相关费用说明</h2></th>
							</tr>
							<tr>
								<td>待还利息:</td>
								<td>$!{advanceRepayInterest}</td>
								<td>需还利息:</td>
								<td id="repay_Interest">$!{xuhuanInterest}</td>
							</tr>
							<tr>
								<td>待收费用:</td>
								<td>$!{advanceRepayFee}</td>
								<td>需收费用:</td>
								<td>$!{xuhuanFee}</td>
							</tr>
							<tr>
								<td>投资人补偿:</td>
								<td>$!{compensation}</td>
								<td>本息差额补偿:</td>
								<td>$!{diffrence}</td>
							</tr>
							<tr>
								<td>补扣管理费:</td>
								<td>0</td>
								<td>借款人违约金:</td>
								<td>$!{damages}</td>
							</tr>
							#set($Capital=0)
							#foreach( $ls in $list )
								#if($!ls.repayStatus == 'false')
									#set($Capital=$!Capital+$!ls.repayCapital)
								#end
							#end
							#set($also=$!advanceRepayFee+$!Capital+$!advanceRepayInterest)
							<tr>
								<td>待还金额:</td>
								<td id="also">$!{also}</td>
								<td>需还金额:</td>
								<td class="backageRed" id="xuhuan">$!{repaySum}</td>
								<input type="hidden" id="advanceRepaySum" value="$!{repaySum}"/>
							</tr>
						</tbody>
					</table>
					<table cellpadding="0" cellspacing="0" style="margin-top: 10px;">
						<tr class="repay">
							<th colspan="20"><h2>还款明细清单</h2>
								<span>
									#if($!borrow.repaymentStyle=='0' && $!borrow.productTypeId == 1)
									【月还息到息还本】 #elseif($!borrow.repaymentStyle=='1' &&
									$!borrow.productTypeId == 1) 【等额本息还款】 #else 【满标立即还款】 #end
								</span>
							</th>
						</tr>
						<tr id="tdTitle">
							<td>期数</td>
							<td>还款时间</td>
							<td>本金</td>
							<td class="backageRed">本金</td>
							<td>利息</td>
							<td class="backageRed">利息</td>
							<td>收费</td>
							<td class="backageRed">收费</td>
							<td>总额</td>
							<td class="backageRed">总额</td>
						</tr>
						#set($i=1) 
						#foreach( $ls in $list )
							#if(!$!ls.repayStatus)
								#set($sum=$!ChargeImmediaMonthMoney+$!ls.repayCapital+$!ls.repayInterest)
								<tr name="tdContent" id="tdContent">
									#if($ls.repayPeriod != '-1')
										<td>第$!{ls.repayPeriod}期</td>
									#else
										<td>末期本金</td>
									#end
									<td>$!date.format('yyyy-MM-dd',$!ls.repayTime)</td>
									<td>$!{ls.repayCapital}</td>
									<td class="backageRed">$!{ls.repayCapital}</td>
									<td>$!{ls.repayInterest}</td> 
									#if($i == 1)
										<input type="hidden" value="$!{ls.repayPeriod}" id="recoverPeriod"/>
										<td class="backageRed">$!{ls.repayInterest}</td> 
									#else
										<td class="backageRed">0</td>
									#end
										<td>$!{ChargeImmediaMonthMoney}</td> 
									#if($i == 1)
										<td class="backageRed">$!{ChargeImmediaMonthMoney}</td> 
									#else
										<td class="backageRed">0</td> 
									#end
										<td name="sum1">$!{sum}</td> 
									#if($i == 1)
										<td class="backageRed" name="sum2">$!{sum}</td> 
									#else
										<td class="backageRed">$!{ls.repayCapital}</td> 
									#end
								</tr>
								#set($i=$i + 1)
							#end
						#end
					</table>
				</div>
			</div>
		#end
</div>
<input type="hidden" id="repay_interest_sum" value="$!{advanceRepayInterest}"/>
<input type="hidden" id="repay_capital_sum" value="$!{repayCapital}"/>
<script type="text/javascript">
var dialog;
var flag;
function closeDialog(){
	dialog.dialog("close");
}
function onLoad(obj){
	dialog = obj;
}
//计算
function count(){
	var damages = parseFloat($("#damages").val());
	var bid = $("#advance_bid").val();
	var productType = $("#advance_productTypeId").val();
	$.ajax({
			url:"${rc.contextPath}/bid/showAdvanceDialog",
			data:{"bid":bid,"bidType":productType,"damages":damages},
			dataType:'html',
			cache:false,
			success:function(data){
				$("#advance_content").html(data);
			}
	});
}
//提前还款
function advanceRepay(){
	var bid = $("#advance_bid").val();
	var repayInterest = $("#repay_interest_sum").val();
	var repayCapital = $("#repay_capital_sum").val();
	var recoverPeriod = $("#recoverPeriod").val();
	var advanceRepaySum = parseFloat($("#advanceRepaySum").val());
	if(flag){
		parent.$.messager.progress({
			text:'系统处理中,请稍候...'
		}); 
		$.ajax({
			url:'${rc.contextPath}/bid/advanceRepay',
			data:{"advanceRepaySum":advanceRepaySum,"bid":bid,"recoverPeriod":recoverPeriod,"repayCapital":repayCapital,"repayInterest":repayInterest},
			dataType:'json',
			cache:false,
			success:function(data){
				$.messager.show({
	    			title:'温馨提示',
	    			msg:data.msg,
	    			timeout:5000,
	    			showType:'slide'
	 			});
				parent.$.messager.progress('close'); 
			}
		});
	}else{
		$.messager.show({
			title:'温馨提示',
			msg:'按钮禁止重复触发,请您关闭后重试！',
			timeout:5000,
			showType:'slide'
		});
	}
	flag = false;
}
$(function(){
	flag = true;
	$("#also").html(parseFloat($("#also").text()).toFixed(2));
	$("#xuhuan").html(parseFloat($("#xuhuan").text()).toFixed(2));
	$("table [name='sum1']").each(function(){
		$(this).html(parseFloat($(this).text()).toFixed(2));
	});
	$("table [name='sum2']").each(function(){
		$(this).html(parseFloat($(this).text()).toFixed(2));
	});
})
</script>