<script type="text/javascript">
var submitForm = function($dialog, $grid, $pjq) {
    if ($('form').form('validate')) {

    	
    		var url='${rc.contextPath}/pbi/doEdit';
            var resObj = $.serializeObject($('form'));
            $.post(url, resObj, function(msg) {
                if(msg.flag){
                		$dialog.dialog('close');
                		$grid.datagrid('reload');
                    return;
                }else{
                    $.messager.alert('提示',msg.message,'error');
                    return;
                }
            }, 'json');
    	
        
    }
};

$(function(){
	loadPic();
	 //公里数
	 $('#mileage').blur(function(){
			var aler=$(this).val();
			zhuanhuan(aler,$('#_mileage'));
	  });
	  //贷款额度
	  $('#loanQuota').blur(function(){
	    	var aler=$(this).val();
	    	zhuanhuan(aler,$('#_loanQuota'));
	  });
	  //评估价
	  $('#appraisement').blur(function(){
	    	var aler=$(this).val();
	    	zhuanhuan(aler,$('#_appraisement'));
	   });
	  //评估价
	  $('#buyMoney').blur(function(){
		  var aler=$(this).val();
		  zhuanhuan(aler,$('#_buyMoney'));
	  });
});
//自动转换万，亿
function zhuanhuan(value,id){
	if(value!=null){
		id.css("color","black")
		if(value.length>8){
			id.text((value/1e8).toFixed(2)+'亿');
		}else if(value.length>4){
			id.text((value/1e4).toFixed(2)+'万');
		}else{
			id.text(value);
		}
	}
}
function loadPic(){
	$('#file_upload').uploadify({
        swf      : '${rc.contextPath}/statics/js/uploadify/uploadify.swf',
        uploader : '${rc.contextPath}/pbi/pbiPic',
        height : 35,
        whith :120,
        auto  : false,
        fileDataName :'fileUpload',
        buttonText : '图片上传',
        fileTypeExts : '*.gif; *.jpg; *.png',
        multi : false,
        method   :'post',
        debug : false,
        sizeLimit:250000,
        'onSelect' : function(file) {
        	 $('#file_upload').uploadify('upload', '*');
         },
        'onUploadSuccess' : function(file, data, response) {
       	 if(data!=null&&data!=""){
                data = eval('(' + data + ')');
            }
            if(data!=null&&data.success!=null&&data.success==true){
                $.messager.show({title: "提示",msg:"上传成功",showType: 'slide',timeout: 3000});
                $("#flag").val("1");
                $("#fid").attr("value",data.message);
                setTimeout(function(){
                    $("#idFrontImgObj").attr('src',$('#path1').val()+data.message);
                },3000);
            }else{
                $.messager.alert('提示',data.message,'error');
            }
        },
        'onUploadError' : function(file, errorCode, errorMsg, errorString) {
            alert('The file ' + file.name + ' 上传失败 ' + errorString);
        }
    });
}
//查看预览图片
function pbiPicAlert(imgUrl){
   var openedDialog = parent.sy.modalDialog({
       title : '预览图片',
       url : '${rc.contextPath}/attest/imgPreview?imgUrl='+imgUrl,
       maximizable:true,
       buttons : [ {
           text : '图片另存',
           handler : function() {
               openedDialog.find('iframe').get(0).contentWindow.imgSave(openedDialog, parent.$);
           }
       },{
           text:'取消',
           handler:function(){
               openedDialog.dialog('destroy');
           }
       }]
   });
}
</script>


<div style="overflow:auto; height:520px;">
<form id="addForm">
<table class="form-table" cellpadding="5" style="font-size: 13px;height: 15px;">
       <input type="hidden" class="textInpnt" name="fid" id="fid" value="" />
       <input type="hidden" name="path0" id="path0" value="$!{pbiVo.path0}">
       <input type="hidden" name="path1" id="path1" value="$!{pbiVo.path1}">
       <input type="hidden" name="flag" id="flag" value="$!{pbiVo.flag}">
	<tr>
		<td class="name"><em>*</em>用户名：<input type="hidden" name="uid" value="$!{userBaseDo.uid}"/><input type="hidden" name="id" value="$!pbiVo.id"/></td>
		<td class="info"><input type="text" value="$!{userBaseDo.userName}[$!{userBaseDo.loginName}]" class="easyui-validatebox textInpnt"  data-options="required:true,validType:'length[2,35]'"></input></td>
	</tr>
	<tr>
		<td class="name"><em>*</em>所属类别：</td>
		<td class="info">
			<input id="bt_pawnType_combobox" value="$!pbiVo.typeId"  name="typeId" value="$!pbiVo.typeId" class="easyui-combobox" style="width:180px;height:30px;font-size:18px;" 
				data-options="url:'${rc.contextPath}/pawnType/pawnTypeAll',valueField:'id',panelHeight:60" />
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>抵押物名称：</td>
		<td class="info">
			<input type="text" name="name" value="$!pbiVo.name" class="easyui-validatebox textInpnt"  data-options="required:true,validType:'length[2,30]'"></input>
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>车牌号：</td>
		<td class="info">
			<input type="text" name="plateNumber" value="$!pbiVo.plateNumber" class="easyui-validatebox textInpnt"  data-options="required:true"></input>
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>是否有按揭：</td>
		<td class="info">
			&nbsp;<input name="isInstallment" type="radio" value="0" #if( $!pbiVo.isInstallment==0 ) checked="checked" #end></input>无按揭&nbsp;&nbsp;&nbsp;
				  <input name="isInstallment" type="radio" value="1" #if( $!pbiVo.isInstallment==1 ) checked="checked" #end></input>有按揭
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>是否质押：</td>
		<td class="info">
			&nbsp;<input name="pawnType" type="radio" value="0" #if( $!pbiVo.pawnType==0 ) checked="checked" #end></input>抵押&nbsp;&nbsp;&nbsp;
				  <input name="pawnType" type="radio" value="1" #if( $!pbiVo.pawnType==1 ) checked="checked" #end></input>质押
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>公里数：</td>
		<td class="info">
			<input id="mileage" type="text" name="mileage" value="$!pbiVo.mileage" class="easyui-numberbox textInpnt"  data-options="required:true" style="width:80px;"></input>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="_mileage"></span>公里
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>车架号：</td>
		<td class="info">
			<input type="text" name="vin" value="$!pbiVo.vin" class="easyui-validatebox textInpnt" data-options="required:true,validType:'length[17,17]'"></input>
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>上牌时间：</td>
		<td class="info">
			<!--<input type="text" name="regYear" value="$!pbiVo.regYear" class="easyui-validatebox textInpnt"  data-options="required:true,validType:'length[2,15]'"></input>-->
			<input id="bt_pawnType_combobox" value="$!pbiVo.regYear"  name="regYear" class="easyui-combobox" style="width:70px;height:24px;font-size:18px;" 
				data-options="url:'${rc.contextPath}/pbi/yearT',valueField:'id',panelHeight:120" />年
			<input id="bt_pawnType_combobox" value="$!pbiVo.regMonth"  name="regMonth" class="easyui-combobox" style="width:70px;height:24px;font-size:18px;" 
				data-options="url:'${rc.contextPath}/pbi/monthT',valueField:'id',panelHeight:120" />月
		</td>
	</tr>	
	<tr>
		<td class="name"><em>*</em>购入价格：</td>
		<td class="info">
			<input type="text" id="buyMoney" name="buyMoney" value="$!pbiVo.buyMoney" class="easyui-numberbox textInpnt"  data-options="required:true" style="width:80px;"></input>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="_buyMoney"></span>元
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>评估价：</td>
		<td class="info">
			<input type="text" id="appraisement" name="appraisement" value="$!pbiVo.appraisement" class="easyui-numberbox textInpnt"  data-options="required:true" validType="preequals['buyMoney']" style="width:80px;"></input>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="_appraisement"></span>元
		</td>
	</tr>	
	<tr>
		<td class="name"><em>*</em>贷款额度：</td>
		<td class="info">
			<input type="text" id="loanQuota" name="loanQuota" value="$!pbiVo.loanQuota" class="easyui-numberbox textInpnt"  data-options="required:true" validType="loanQuota['appraisement']" style="width:80px;"></input>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="_loanQuota"></span>元
		</td>
	</tr>
	<tr>
		<td class="name"><em>*</em>评估师：</td>
		<td class="info">
			<input type="text" name="appraiser" value="$!pbiVo.appraiser" class="easyui-validatebox textInpnt"  data-options="required:true"></input>
		</td>
	</tr>	
	<tr>
		<td class="name">内容简介：</td>
		<td class="info">
			<textarea type="text" name="content"  value="$!pbiVo.content"  class="easyui-validatebox textTextarea"></textarea>
		</td>
	</tr>
	<tr>
          <td class="name"><em>*</em>上传信息：</td>
          <td><input id="file_upload" type="file" name="file" />
          <br>
                    <img name="idFrontImgObj" id="idFrontImgObj" onclick="imgDateilsAlert(this.src);"
                        #if($!pbiVo.fid && $!pbiVo.fid!="" && $!pbiVo.flag && $!pbiVo.flag=="0") src="${rc.contextPath}/file/image?id=$!pbiVo.id&type=2"
                        #elseif($pbiVo.fid && $pbiVo.fid!="" && $pbiVo.flag && $pbiVo.flag=="1") src="$!{pbiVo.path1}$!{pbiVo.fid}"
                        #else src="${rc.contextPath}/statics/img/nopic.jpg"
                        #end
                         style="width: 350px;height: 120px;"><br>
          </td>
	 </tr>
	 <tr>
          <td class="name">图片格式：</td>
          <td>gif; jpg; png</td>
	 </tr>
	 <tr>
          <td class="name"></td>
          <td></td>
	 </tr>
</table>
</form>
</div>