#*Created by IntelliJ IDEA.
User: dongxc
Date: 2015/06/24
选择中介人员弹出页面
*#
<div id="agency_toolbar">
    <!-- 查询条件 -->
    <div class="seach-top clearfix">
        <div class="fl">
            <a href="javascript:void(0)" id="reload_btn_id" icon="icon-reload">刷新</a>
            <a href="javascript:void(0)" id="add_agency_btn_id" icon="icon-add">添加中介</a>
            <input type="checkbox" id="cid_checkbox_id" name="cid_checkbox_id" value="true" checked="checked" onchange="datagridReload('load')">本公司员工
            <input type="hidden" id="cid" name="cid" value="$!{cid}">
        </div>
        <div class="fr">
            <span style=" float: left; margin: 5px 0 0 0;">查询：</span>
            <input  type="text" name="seach_cond_id" id="seach_cond_id" class="easyui-searchbox iText" style="width:180px; padding: 0 3px; vertical-align: middle"  prompt="[姓名,工号,电话]" title="[姓名,工号,电话]">
        </div>
    </div>
</div>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false">
        <table id="tableList"></table>
    </div>
</div>
<script type="text/javascript">
    var openedDialog;
    var grid;
    $(document).ready(function(){
        //刷新按钮
        $('#reload_btn_id').linkbutton({plain:true});
        $('#reload_btn_id').bind('click', function(){
            datagridReload();
        });
        //添加业务员按钮
        $('#add_agency_btn_id').linkbutton({plain:true});
        $('#add_agency_btn_id').bind('click', function(){
            openedDialog = parent.sy.modalDialog({
                height: document.body.clientHeight*0.9,
                title : '添加中介人员',
                url : '${rc.contextPath}/agency/addAgency?cid=$!{cid}',
                buttons : [{
                    text : '保存',
                    handler : function() {
                        openedDialog.find('iframe').get(0).contentWindow.submitForm(openedDialog, grid, parent.$);
                    }
                }, {
                    text : '关闭',
                    iconCls : 'icon-no',
                    handler : function() {
                        openedDialog.dialog('destroy');
                    }
                }]
            });
        });
        //表格框
        grid=$('#tableList').datagrid({
            fit : true,// 最大化，自适应屏幕
            pagination : true,
            url:"${rc.contextPath}/agency/agencyAjax",
            toolbar : "#agency_toolbar",
            border : false,// 边线是否显示
            singleSelect:true,
            columns : [[
                {checkbox : true},
                {field : 'loginName', title : '账号', width :"150", sortable : false},
                {field : 'userName', title : '姓名', width :"150", sortable : false,
                    formatter: function(value,row,index){
                        var result = "";
                        if(row.sex!=null&&row.sex=="0"){
                            result += "[男]";
                        }else if(row.sex!=null&&row.sex=="1"){
                            result += "[<label style=\"color:blue;\">女</label>]";
                        }
                        if(row.userName!=null){
                            result += row.userName;
                        }
                        return result;
                    }
                },
                {field : 'mobile', title : '电话', width :"130", sortable : false},
                {field : 'qq', title : 'QQ', width :"130", sortable : false},
                {field: 'updateTime', title: '最后修改时间 ', width: 130,
                    formatter: function (value, row, index) {
                        return formatDateFull(value);
                    }
                }
            ]],
            queryParams:{
                cid: getCid(),
                agencyAccount: ""
            }
        });
        //搜索框
        $("#seach_cond_id").searchbox({
            searcher: function (value, name) {
                datagridReload('load');
            }
        });
        //搜索框绑定回车事件
        $('#seach_cond_id').bind('keypress',function(event){
            if(event.keyCode == "13")
            {
                datagridReload('load');
            }
        });
    });
    //表格刷新
    function datagridReload(way){
        if(way==undefined||way==null||way==""||(way!="load"&&way!="reload")){
            way = "reload";
        }
        var searchText = $("input[name='seach_cond_id']").val();
        if(searchText=="[姓名,工号,电话]"){
            searchText = "";
        }
        $('#tableList').datagrid(way,{
            cid: getCid(),
            agencyAccount: searchText
        });
    }
    //获取cid查询条件值
    function getCid(){
        var cid = $("input[name='cid']").val();
        var cidCheckboxId = "";
        $("input[name='cid_checkbox_id']:checked").each(function(){
            cidCheckboxId=$(this).val();
        });
        if(cidCheckboxId!=null&&cidCheckboxId=="true"){
            return cid;
        }else{
            return "";
        }
    }
    //验证表格单选框选中对象
    function getDatagridSelected(){
        var rows = $('#tableList').datagrid("getSelections");
        if(rows.length==0){
            $.messager.alert('警告','请选择要操作的行!','warning');
            return null;
        }else if(rows.length>1){
            $.messager.alert('警告','只能同时操作一行数据，请重新选择!','warning');
            return null;
        }else{
            return rows[0];
        }
    }
</script>