<script type="text/javascript">
var checkedItems = [];

	$(document).ready(function() {
		
		$('#reload_rel_cus_bor').linkbutton({plain:true});
		$('#reload_rel_cus_bor').bind('click', function(){
			datagridReload();
        });
		$('#reload_btn_id2').linkbutton({plain:true});
		$('#reload_btn_id2').bind('click', function(){
			datagridReloadTab2();
        });
		$('#save_brower_rel').linkbutton({plain:true});

		var fileview = $.extend({}, $.fn.datagrid.defaults.view, { onAfterRender: function (target) { ischeckItem(); } });
		$('#tableList1').datagrid({
			fit : true,// 最大化，自适应屏幕 
			view : fileview,
			url : "${rc.contextPath}/cusinbr/BordataGrid",
			border : true,
			pagination : true,
			toolbar : "#tableList1_toolbar",
			singleSelect:false,
			idField : 'id',
			columns : [[
		                {checkbox : true},
		                {field : 'uid', title : '主键', hidden :"false", },
		                {field : 'loginName', title : '会员账号', width :"220", sortable : false,
		                    formatter: function(value,row,index){
		                        var cusShow = "";
		                        if(row.cusLoginName!=null){
		                            cusShow += row.cusLoginName;
		                        }
		                        if(row.cusUserName!=null){
		                            cusShow += "["+row.cusUserName+"]";
		                        }
		                        var result = "";
		                        if(row.userName!=null){
		                            result += "<a style='text-decoration:none;color:black;' href=\"javascript:;\" title=\"" + cusShow+"\" onclick='userBasicInfoDetail(\""+row.uid+"\");'>"+row.userName+"</a>";
		                        }
		                        if(row.loginName!=null){
		                            result += "[<a style='text-decoration:none;color:green;' href=\"javascript:;\" title=\"" + cusShow+"\" onclick='loginLogDetail(\""+row.uid+"\");'>"+row.loginName+"</a>]<br>";
		                        }
		                        if(row.sex!=null&&row.sex=="0"){
		                            result += "[男]";
		                        }else if(row.sex!=null&&row.sex=="1"){
		                            result += "[<label style=\"color:blue;\">女</label>]";
		                        }
		                        if(row.isTender!=null&&row.isTender=="1"){
		                            result += "[<label style=\"color:#AAAAAA;\">借+投</label>]";
		                        }else{
		                            result += "[<label style=\"color:#AAAAAA;\">借</label>]";
		                        }
		                        if(row.isBlack!=null&&row.isBlack=="1"){
		                            result += "<label style=\"background:#000;color:#FFF;\"><del>[黑]</del></label>";
		                        }
		                        if(row.status!=null&&row.status=="2"){
		                            result += "<label style=\"color:red;\"><del>[登陆]</del></label>";
		                        }
		                        if(row.investmentstate!=null&&row.investmentstate=="02"){
		                            result += "<label style=\"color:red;\"><del>[投资]</del></label>";
		                        }
		                        if(row.withdrawstate!=null&&row.withdrawstate=="02"){
		                            result += "<label style=\"color:red;\"><del>[提现]</del></label>";
		                        }
		                        if(row.isVip!=null&&row.isVip=="1"){
		                            result += "<label style=\"color:red;\">[V]</label>";
		                        }
		                        if(row.idNumber!=null&&row.idNumber!=""){
		                            result += "<br><label style=\"color:#AAAAAA;\">证件:</label>"+row.idNumber;
		                        }
		                        return result;
		                    }
		                },
		                {field : 'mobile', title : '电话', width :"120", sortable : false,
		                    formatter: function(value,row,index){
		                        var result = value;
		                        if(row.mobileStatus != "0"&&result!=""){
		                            result += "<br><label style=\"color:red;\">未认证</label>";
		                        }
		                        return result;
		                    }
		                }
		            ]],
		            queryParams:{
		            	dataBrowerCus : $("input[name='dataBrowerCus']").val()
		            },
		            onCheckAll: function addcheckItem() {
		        		var row = $('#tableList1').datagrid('getChecked');
		        		for (var i = 0; i < row.length; i++) {
		        			if (findCheckedItem(row[i].uid) == -1) {
		        				checkedItems.push(row[i].uid);
		        			}
		        		}
		        	},
		        	onCheck: function addcheckItem() {
		        		var row = $('#tableList1').datagrid('getChecked');
		        		for (var i = 0; i < row.length; i++) {
		        			if (findCheckedItem(row[i].uid) == -1) {
		        				checkedItems.push(row[i].uid);
		        			}
		        		}
		        	},
		        	onUncheckAll: function removeAllItem(rows) {

		        		for (var i = 0; i < rows.length; i++) {
		        			var k = findCheckedItem(rows[i].uid);
		        			if (k != -1) {
		        				checkedItems.splice(k, 1);
		        			}
		        		}
		        	},
		        	onUncheck: function removeSingleItem(rowIndex, rowData) {
		        		var k = findCheckedItem(rowData.uid);
		        		if (k != -1) {
		        			checkedItems.splice(k, 1);
		        		}
		        	}
		});
				
		$('#tableList2').datagrid({
			fit : true,// 最大化，自适应屏幕
			url : "${rc.contextPath}/emloyee/emloyeeAjax?roleCode=004",
			pagination : true,
			toolbar : "#tableList2_toolbar",
			singleSelect:true,
			columns : [ [ {
				field : 'uid',
				title : 'uid',
				checkbox : true,
				formatter:function(value,row,index){
					return row.uid;
				}
			},{
				field : 'cid',
				title : 'cid',
				checkbox : true,
				hidden:true,
				formatter:function(value,row,index){
					return row.cid;
				}
			},{
				field : 'loginName',
				title : '登录名称',
				width:100,
				sortable : true
			}, {
				field : 'userName',
				title : '姓名',
				width:100,
				sortable : true,
				formatter:function(value,row,index){
					if (row.sex=='0'){
                    	return '<label style=\"color:blue;\">[男]</label>  '+value;
                    } else if(row.sex=='1'){  
                    	return '<label style=\"color:blue;\">[女]</label>  '+value;
                    }else{
                    	return '<label style=\"color:blue;\">[未知]</label>  '+value;
                    }
				}
			},{
				field : 'roleIds',
				title : '角色名称',
				width:180,
				formatter:function(value,row,index){
					return row.roleName;
				}
			}, {
				field : 'sex',
				title : '性别',
				width:70,
				hidden:true,
				sortable : true,
				formatter:function(value,row,index){
                    if (row.sex=='0'){
                    	return '男';
                    } else{  
                    	return '女';
                    }
                }
			}, {
				field : 'mobile',
				title : '手机',
				width:100,
				sortable : true
			}, {
				field : 'email',
				title : '邮箱',
				width:120,
				sortable : true
			}, {
				field : 'qq',
				title : 'QQ',
				width:80,
				sortable : true
			}, {
				field : 'wangwang',
				title : '旺旺',
				width:100,
				sortable : true
			}, {
				field : 'belongBorrowerNum',
				title : '下属借款人数量',
				width:90,
				sortable : true
			}, {
				field : 'belongTenderNum',
				title : '下属投资人数量',
				width:90,
				sortable : true
			}, {
				field : 'biddingNum',
				title : '发标数',
				width:40,
				sortable : true
			}, {
				field : 'status',
				title : '状态 ',
				width:30,
				sortable : true,
				formatter:function(value,row,index){
                    if (row.status=='0'){
                    	return '正常';
                    } else if(row.status=='1'){  
                    	return '删除  ';
                    }else{
                    	return '<font color="red">冻结</font>';
                    }
                }
			}, {
				field : 'loginTime',
				title : '最后时间 ',
				width:120,
				sortable : true,
				formatter:function(value,row,index){
                    return formatDateFull(value);
                }
			} ] ],
			queryParams:{
				   loginName:  $("input[name='emloyee_loginName']").val(),
		            userName:  $("input[name='emloyee_userName']").val(),
		            mobile:  $("input[name='emloyee_mobile']").val(),
		            qq:  $("input[name='emloyee_qq']").val(),
		            roleId:$("input[name='emloyee_roleId']").val(),
		            cid:  $("input[name='emloyee_cid']").val()
           }
			
		});
		
		//查询
		$('#dataBrowerCus').bind('keypress',function(event){
            if(event.keyCode == "13")    
            {
            	datagridReload();
            }
        });
		
	});
	
	function datagridReload() {
		$('#tableList1').datagrid('load', {
			dataBrowerCus : $("input[name='dataBrowerCus']").val()
		});
	}
	
	//验证是否选中对象
    function getDatagridSelectedInvestor(getRow){
		var abc = "";
        if(checkedItems.length!=0){
        	for(var i = 0; i <  checkedItems.length; i++) {
        		abc += checkedItems[i] + ",";
        	}
        	return abc;
        }else {
        	$.messager.alert('警告','请选择要操作的记录!','warning');
            return null;
        }
    }
	
    function getDatagridSelected(getRow){
        var rows = $('#tableList2').datagrid("getSelections");
        if(rows.length==0){
            $.messager.alert('警告','请选择要操作的行!','warning');
            return null;
        }else if(rows.length>1){
            $.messager.alert('警告','只能同时操作一行数据，请重新选择!','warning');
            return null;
        }else{
            if(getRow){
                return rows[0];
            }else{
                return rows[0].uid;
            }
        }
    }
	
	function ischeckItem() {
		for (var i = 0; i < checkedItems.length; i++) {
			$('#tableList1').datagrid('selectRecord', checkedItems[i]);
		}
	}
	
	
	function findCheckedItem(UID) {
		for (var i = 0; i < checkedItems.length; i++) {
			if (checkedItems[i] == UID)
				return i;
		}
		return -1;
	}
	
	//表格刷新
    function datagridReloadCus(){
        $('#tableList2').datagrid('reload',{
            loginName:  $("input[name='emloyee_loginName']").val(),
            userName:  $("input[name='emloyee_userName']").val(),
            mobile:  $("input[name='emloyee_mobile']").val(),
            qq:  $("input[name='emloyee_qq']").val(),
            roleId:  $("input[name='emloyee_roleId']").val(),
            cid:  $("input[name='emloyee_cid']").val()
        });
    }
	
	//转移投资人客服
    function trans() {
    	var rowIdBor = getDatagridSelectedInvestor();
    	var rowIdCus = getDatagridSelected();
    	if(rowIdCus!=null) {
    		$.messager.confirm('确认', '确定转移借款人所属客服吗？', function(data) {
    			if (data) {
    			$.ajax({
					url: "${rc.contextPath}/certi/tranBrowerCus",
	                    data : {
							'uidBor' : rowIdBor,
							'uidCus' : rowIdCus
						},
						dataType : 'text',
						type : "post",
						success : function(r) {
							if (r == 1) {
								alert("转移成功");
							} else {
								alert("转移失败");
								datagridReload();
							}
						}
					});
				}
			});
		}
	}
</script>
<div style="float:left; width: 31%; height: 100%;">
        <table id="tableList1"></table>
</div>
<div style="float:left; width: 69%; height: 100%;">
    <table id="tableList2"></table>
</div>

<!-- 菜单按钮 -->
<div id="tableList1_toolbar">
    <div class="operate-bnt">
        <a href="javascript:void(0)" id="reload_rel_cus_bor" icon="icon-reload">刷新</a>
        <input id="dataBrowerCus" name="dataBrowerCus" type="text" value="" class="iText" style="width: 220px;" placeholder="姓名，电话，邮件，车牌，身份证" />
    </div>
</div>
<div id="tableList2_toolbar">
    <div region="north" border="false" class="seach-top clearfix">
        登录名称<input type="text" name="emloyee_loginName" class="iText easyui-textbox" placeholder="请输入登录名称">
        姓名<input type="text" name="emloyee_userName" class="iText easyui-textbox" placeholder="请输入姓名">
        手机<input type="text" name="emloyee_mobile" class="iText easyui-textbox" placeholder="请输入手机">
        QQ<input type="text" name="emloyee_qq" class="iText easyui-textbox" placeholder="请输入QQ号">
        <input type="hidden" name="emloyee_cid" class="iText easyui-textbox" value="$!{query.cid}">
        <input type="hidden" name="emloyee_roleId" class="iText easyui-textbox" value="$!{query.roleId}">
        <button type="button" class="but-seach" onclick="datagridReloadCus();">查询</button>
    </div>
    <div class="operate-bnt">
        <a href="javascript:void(0)" id="reload_btn_id2" icon="icon-reload">刷新</a>
        <a href="javascript:void(0)" id="save_brower_rel" icon="icon-redo" onclick="trans()">转移</a>
    </div>
</div>
