<script type="text/javascript" charset="UTF-8">
	$(function() {
		//列表
		$('#tableList').datagrid({
			fit : true,// 最大化，自适应屏幕
			showFooter : true,// 定义是否显示行脚。
			pagination : true,// 数据表格控件底部显示分页工具栏
			remoteSort : true,// 定义从服务器对数据进行排序。
		    nowrap : true,// 禁止自动换行
			striped : true,// 是否显示斑马线效果
			//rownumbers : true,// 显示数字
			border : false,// 边线是否显示
			pageSize : 20,// 默认的页数
			idField : 'id',
			singleSelect:true,
			url : '${rc.contextPath}/emloyee/loginEmloyeeAjax',
			columns : [[
			    {field : 'id',title:'编号'},
				{field : 'uid', title : '账号', width : 180, sortable : true,align:'center',formatter:function(value,row,index){
									if(!row.userName){
										return '账号:<font color="red">'+row.loginName+'</font>'
									}
									return '账号:<font color="red">'+row.loginName+'</font>姓名:<font color="#ffcc00">'+row.userName+'</font>'}},
				 {field : 'type', title : '上线情况', width :100},
				 {field : 'createTime', title : '上线时间', width :120,formatter:function(value,row,index){return formatDateFull(value);}},
				 {field : 'browser', title : '浏览器', width :60},
				 {field : 'loginIp', title : 'ip地址', width :90},
				 {field : 'ipAddr', title : 'IP所在地', width :250}
			]],ueryParams:{
		            cid:  $("input[name='emloyee_cid']").val()
         },
			toolbar : "#emloyee_login_toolbar"
		});
		
	});
	//表格刷新
    function datagridReload(){
        $('#tableList').datagrid('reload',{
            cid:  $("input[name='emloyee_cid']").val()
        });
    }
</script>
	<div class="easyui-layout" fit="true">
			<input type="hidden" name="emloyee_cid" class="easyui-textbox" value="$!{query.cid}">
		<div region="center" border="false">
			<table id="tableList"></table>
		</div>
		<div id="emloyee_login_toolbar" class="operate-bnt">
			<a href="#" class="easyui-linkbutton" plain="true" icon="icon-reload" onclick="datagridReload()">刷新</a> &nbsp;
		</div>
	</div>
