<!-- 员工列表  -->
<script type="text/javascript">
	$(function() {
		loadgrid();
		//新增
		$('#btn_add').click(function() {
			crud({
				width : 520,
				height : 510,
				title : '新增用户',
				url : '${rc.contextPath}/emloyee/addEmloyee?cid=$!{query.roleId}&roleId=$!{query.roleId}',
				suburl : '${rc.contextPath}/emloyee/addEmloyee'
			}).add();
		});
		//修改
		$('#btn_mod').click(function() {
			var row = $('#tableList').datagrid('getSelected');
			if ($('#tableList').datagrid('getSelections').length != 1) {
				$.messager.alert('提示', '请选择一行！');
				return;
			}
			crud({
				width : 520,
				height : 510,
				title : '用户信息修改',
				url : '${rc.contextPath}/emloyee/addEmloyee',
				suburl : '${rc.contextPath}/emloyee/addEmloyee'
			}).update();
		});
	})

	function loadgrid() {
		$('#tableList').datagrid({
			fit : true,// 最大化，自适应屏幕
			// collapsible : true,// 定义是否显示可折叠按钮。
			// queryParams : {'menu.id':id},
			showFooter : true,// 定义是否显示行脚。
			pagination : true,// 数据表格控件底部显示分页工具栏
			remoteSort : true,// 定义从服务器对数据进行排序。
		    nowrap : true,// 禁止自动换行
			striped : true,// 是否显示斑马线效果
			//rownumbers : true,// 显示数字
			border : false,// 边线是否显示
			pageSize : 20,// 默认的页数
			//pageList : [ 10, 20, 30, 40 ],// 显示可以分页的list
			sortName : 'create_time',
			sortOrder : 'desc',
			idField : 'id',
			singleSelect:true,
			url : '${rc.contextPath}/pbi/pbiListAjax?uid='+${result.uid},
			columns : [ [ {
				field : 'id',
				title : 'id',
				checkbox : true,
				formatter:function(value,row,index){
					return row.id;
				}
			},{
				field : 'name',
				title : '名称',
				width:100,
				sortable : true,
                formatter:function(value,row,index){
                    return row.name+'<br>['+row.typeName+']';
                }
			}, {
				field : 'fid',
				title : '抵押物图片',
				width:120,
				sortable : true,
                formatter:function(value,row,index){

                        return '<img name="" src="'+value+'" width="100" height="60"  />';

                }
			}, {
				field : 'status',
				title : '认证状态',
				width:70,
				sortable : true,
				formatter:function(value,row,index){
                    if (row.status=='0'){
                    	return '审核不通过';
                    } else{
                    	return '<span style="color:#060">审核通过</span>';
                    }
                }
			}, {
				field : 'appraisement',
				title : '估值',
				width:150,
				sortable : true,
            formatter:function(value,row,index){

                    return '估值：'+row.appraisement;

            }
			}, {
				field : 'description',
				title : '简介',
				width:150,
				sortable : true,
                formatter:function(value,row,index){

                           return '车牌：'+row.plateNumber+'<br>'+'公里数：'+row.mileage;

                   }
			}, {
				field : 'verifyTime',
				title : '添加时间',
				width:130,
				sortable : true,
                formatter:function(value,row,index){

            return  formatDateFull(value);

        }
			},
     { field : 'verifyTime',
                title : '关联标',
                width:100,
                sortable : true,
             formatter:function(value,row,index){

         return  formatDateFull(value);

     }
    }] ],

			toolbar : "#pbi_toolbar"
		});


        ///
        $('#btn_xs').linkbutton('disable');

    }


	// 打开添加面板
	function emloyeeAdd() {
		//$('#add').dialog('open');
        var mDialog = parent.sy.modalDialog({
			href : '${rc.contextPath}/emloyee/addEmloyee',
				title : '添加员工',
				height : '480',
				width : '520',
				modal : true,
				closable : false,
				buttons: [{
					text:'保存',
					iconCls:'icon-ok',
					handler:function(){
						$("#form_emloyee_add").form('submit', {
							url : "${rc.contextPath}/emloyee/addEmloyee",
							onSubmit: function(){
								if ($("#form_add_emloyee").form('validate')) {
									$.ajax({
							             type: "post",
							             url: "${rc.contextPath}/emloyee/emloyeeAjaxLogin",
							             data: {'loginname':$("#verify_loginname").val()},
							             async : false,
							             dataType: "json",
							             success: function(data){
							            	 if(data.code!='0'){
							            		 return true;
							            	 }else{
							            		 return false;
							            		 alert(data.msg);
							            	 }
							             }
							        });
								}else{
									return false;
								}
							},
							success : function(data) {
								var r = $.parseJSON(data);
								if ('0' == data.code) {
									$("#us_uszf_family_datagrid").datagrid('appendRow', r.obj);
	                                mDialog.dialog('destroy');
								}
								$.messager.show({
									title : '提示',
									msg : data.msg
								});
							}
						});

					}
			}, {
				text : '关闭',
				iconCls : 'icon-no',
				handler : function() {
                    mDialog.dialog('destroy');
				}
			} ]
		})
	}

	function emloyeeEdit() {
		var rows = $("#tableList").datagrid('getChecked');
		if (rows.length == 1) {
			var d = $("<div/>").dialog({
				title : '编辑员工',
				width : 520,
				height : 480,
				href : "${rc.contextPath}/emloyee/addEmloyee",
				modal : true,
				buttons : [ {
					text : '编辑',
					iconCls : 'icon-edit',
					handler : function() {
						if ($("#form_add_emloyee").form('validate')) {
							$("#form_add_emloyee").form('submit', {
								url : "${rc.contextPath}/emloyee/addEmloyee",
								success : function(result) {
									var r = $.parseJSON(result);
									if (r.success) {
										$("#tableList").datagrid('updateRow', {
											index : $("#tableList").datagrid('getRowIndex', rows[0]),
											row : r.obj
										});
										d.dialog('destroy');
									}
									$.messager.show({
										title : '提示',
										msg : r.msg
									});
								}
							});
						}else{
							return false;
						}
					}
				} ,{
				text : '关闭',
				iconCls : 'icon-no',
				handler : function() {
					d.dialog('destroy');
				}
			}],
				onLoad : function() {
					console.info(rows[0])
				    $("input[name='uid']").val(rows[0].uid.rowId);
					$("#form_add_emloyee").form('load', rows[0]);
					$("#verify_loginname").attr('disabled','disabled');
				},
				onClose : function() {
					$(this).dialog('destroy');
				}
			});
		} else {
			$.messager.alert('提示', '请选择一条记录进行修改！');
		}
	}
	//重置登录密码
	function emloyeeAudit(){
		var rows = $("#tableList").datagrid('getChecked');
		if (rows.length == 1) {
			var id =rows[0].uid;
			var d = $("<div/>").dialog({
				title : '修改密码',
				width : 400,
				height : 250,
				href : "${rc.contextPath}/emloyee/emloyeeAjaxPsw.htm",
				modal : true,
				buttons : [ {
					text : '保存',
					iconCls : 'icon-edit',
					handler : function() {
						if ($("#form_edit_psw").form('validate')) {
							$("#form_edit_psw").form('submit', {
								url : "${rc.contextPath}/emloyee/emloyeeAjaxPsw",
								success : function(result) {
									var r = $.parseJSON(result);
									if (r.code=='0') {
										d.dialog('destroy');
									}
									$.messager.show({
										title : '提示',
										msg : r.msg
									});
								}
							});
						} else {
							return false;
						}
					}
				} ,{
				text : '关闭',
				iconCls : 'icon-no',
				handler : function() {
					d.dialog('destroy');
				}
			}],
				onLoad : function() {
				    $("input[name='uid']").val(rows[0].uid);
					//$("#form_edit_psw").form('load', rows[0]);
				},
				onClose : function() {
					$(this).dialog('destroy');
				}
			});

		} else {
			$.messager.alert('提示', '请选择一条记录进行修改！');
		}
	}
	//启用
	function emloyeeStatus(type){
		var rows = $("#tableList").datagrid('getChecked');
		if (rows.length == 1) {
			$.messager.confirm('确认', '您是否要启用当前选中的记录？', function(r) {
				if (r) {
					var id=rows[0].uid;
					$.ajax({
						url : "${rc.contextPath}/emloyee/emloyeeStatus",
						data : {
							id : id,status:type
						},
						dataType : 'json',
						success : function(r) {
							$("#tableList").datagrid('uncheckAll');
							$("#tableList").datagrid('load');
							$.messager.show({
								title : '提示',
								msg : r.msg
							});
						}
					});
				}
			});
		} else {
			$.messager.alert('提示', '请选择一条记录进行修改！');
		}
	}
	function emloyeeF5(){
		$('#tableList').datagrid('reload');
	}
    //表格刷新
    function datagridReload(){
        $('#tableList').datagrid('reload',{
            loginName:  $("input[name='emloyee_loginName']").val(),
            userName:  $("input[name='emloyee_userName']").val(),
            mobile:  $("input[name='emloyee_mobile']").val(),
            qq:  $("input[name='emloyee_qq']").val(),
            cid:  $("input[name='emloyee_cid']").val()
        });
    }
	// 关闭方法
	/* function closeWind(name) {
		alert(name)
		d.dialog('destroy');
		$(name).dialog("destroy");
	} */
</script>
<div class="easyui-panel" icon="icon-save" collapsible="false" minimizable="false" maximizable="false" closable="false" style="height:500px;" data-options="fit:true,border:false">
		<div class="easyui-layout" fit="true">

			<div region="center" border="false">
				<table id="tableList"></table>
			</div>
            <div id="pbi_toolbar" class="operate-bnt">

		<a href="#" class="easyui-linkbutton" plain="true" icon="icon-reload" onclick="emloyeeF5()">刷新</a> &nbsp;
	 	<a id="btn_add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加抵押物</a>&nbsp;
	 	<a id="btn_mod" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">添加已评估抵押物</a>&nbsp;

		<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="emloyeeAudit()">修改抵押物</a> &nbsp;
		<a  id="btn_xs" href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="emloyeeStatus(1)">修改下属材料</a> &nbsp;
       <div class="fr">
		<a href="#" class="easyui-linkbutton" iconCls="icon-audit" plain="true" onclick="emloyeeStatus(0)">汽车估价</a> &nbsp;
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="emloyeeStatus(2)" >删除</a>&nbsp;
        </div>
		<!-- 					<a href="#" class="easyui-linkbutton" iconCls="icon-default" plain="true" onclick="emloyeeView()">浏览</a> -->
	</div>
		</div>
	</div>

