<script type="text/javascript">
$(document).ready(function(){
        $('#tableList').datagrid({
            fit : true,// 最大化，自适应屏幕
            url:"${rc.contextPath}/mogo/pagination",
            width : "100%",
            height : "450",
            rownumbers : true,
            pagination : true,
            pageSize: 20 ,
            singleSelect:true,
            columns : [[
                {checkbox : false},
                {field : '_id', title : '主键', width :"110", hidden: true},
                {field : 'createtime', title : '操作时间', width :"180"},
                {field : 'operator', title : '操作人', width :"140"},
                {field : 'operateconent', title : '操作内容', width :"280"},
                {field : 'iptrace', title : 'IP跟踪', width :"260"}
            ]]
        });
});
</script>

<table id="tableList"></table>