
<div data-options="iconCls:'icon-save''">
    <form method="post" id="form_add_emloyee">
        <table class="form-table" cellpadding="5" style="font-size: 13px;height: 15px;">
            <tr>
				<td class="name">转移的原所属分站：</td>
				<td class="info" ><select name="souStation">
				    #if ( $stationDo )
					#foreach ( $station in $stationDo )
					<option value="$!{station.cid}" #if($!{station.cid}==${cid}) selected="selected" #end>$!{station.stationName}</option> 
					#end
					#end				
				</select></td>
			</tr>
			
			<tr>
				<td class="name">转移的目标所属分站：</td>
				<td class="info" ><select name="desStation">
				    #if ( $stationDo )
					#foreach ( $station in $stationDo )
					<option value="$!{station.cid}">$!{station.stationName}</option> 
					#end
					#end				
				</select></td>
			</tr>
			
        </table>
    </form>
</div>