<script type="text/javascript">
	var params;
	var substate=true;
	$(function(){});
	//保存修改的标的类型信息
	function audit(openedDialog,row,grid){
		//if(!substate) { $.messager.alert("提示","请勿重复提交");  return;}
		substate=false;
		var checkVal = $("input[name='audit']:checked").val();
		var id = $("#id").val();
		if ($('form').form('validate')){
			$.post(
		        '${rc.contextPath}/Specialfunds/approve', 
		         {
		        	aprrovestate:checkVal,
		        	id:id,
		        	tradeState:$("#tradeState").val(),
		        	auditOpinion:$("#auditOpinion").val(),
		        	tradeSubCode:$("#tradeSubCode").val(),
		        	uid:$("#uid").val(),
		        	amount:$("#amount").val(),
		        	formerorderid:$("#formerorderid").val(),
		        	cid:$("#cid").val(),
		        	utype:$("#utype").val(),
		        	orderid:$("#orderid").val()
		        }, 
        		function (resp) {
        			if(resp.success){
        				grid.datagrid('reload');
        				openedDialog.dialog('destroy');
        			}else{
        				$.messager.alert("提示",resp.msg,"error");
        				grid.datagrid('reload');
        				
        			}
        		}
			);
		}
		
		
	} 
	//关闭添标的类型窗口
	function closeDialog(reload){
	    openedDialog.dialog('destroy');
	    if(reload){         
	    	$('#tableList').datagrid('reload');
	    }
	}
	
</script>

<div data-options="iconCls:'icon-save''">
	<form method="post" id="manual_recharge_id">
		<input type="hidden" id="id" value="${orderInfoVO.id}"/>
        <table class="form-table" cellpadding="5" style="font-size: 13px;height: 15px;">
			<tr>
				<td class="name">操作对象：</td>
				<td class="info">${orderInfoVO.userName}</td>
			</tr>
			<tr>
				<td class="name">操作金额：</td>
				<input type='hidden' id="tradeState" name="tradeState" value="${orderInfoVO.tradeState}"/>
				<input type='hidden' id="tradeSubCode" name="tradeSubCode" value="${orderInfoVO.tradeSubCode}"/>
				<input type='hidden' id="uid" name="uid" value="${orderInfoVO.uid}"/>
				<input type='hidden' id="cid" name="cid" value="${orderInfoVO.cid}"/>
				<input type='hidden' id="utype" name="utype" value="${orderInfoVO.utype}"/>
				<input type='hidden' id="amount" name="amount" value="${orderInfoVO.amount}"/>
				<input type='hidden' id="orderid" name="orderid" value="${orderInfoVO.orderid}"/>
				<input type='hidden' id="formerorderid" name="formerorderid" value="${orderInfoVO.formerorderid}"/>
				<td class="info" >${orderInfoVO.amount}</td>
			</tr>
			
			<tr>
				<td class="name">审核操作：</td>
				<td class="info">
					<input type="radio" name="audit" value="1" checked="checked"/>通过 
					<input type="radio" name="audit" value="2"/>不通过
				</td>
			</tr>
			<tr>
				<td class="name">审批意见：</td>
				<td class="info"><input type="text" id="auditOpinion" name="auditOpinion" class="easyui-textbox textInpnt"/></td>
			</tr>
		</table>
	</form>
</div>
