#*
User: yuexia.zhang
第三方支付对账
*#
 <script>
    var openedDialog ;
    var aa;
    $(document).ready(function(){
    	$(".iText").keydown(function (e) { 
			 var key = e.which;
			 if (key == 13) { 
				 $('#btn_qry').click();
			 } 
		 });
    	 //查询按钮
        $('#btn_qry').click(function() {
        	 $('#tableList').datagrid('load',{
        		 tradeSubCode: $("#rechargeType").val(),
    	       	submitTimeBegin: $("input[name='submitTimeBegin']").val(),
    	       	submitTimeEnd: $("input[name='submitTimeEnd']").val(),
    	       	aff: $("input[name='aff']").val(),
    	       	objAff: $("input[name='objAff']").val()
    	      });
        });
    	 //下拉框数据
    	$.post(
        		'${rc.contextPath}/Select/getRechargeSubType', 
        		{ }, 
        		function (resp) { 
        			if(resp.success){
        				var data = resp.data;
        				for(var index in data){
        					$("#rechargeType").append("<option value='"+index+"'>"+data[index]+"</option>");
        				}
        			}
        });
    	//加载数据
        $('#tableList').datagrid({
           url:"datagrid?flagFlow=2&flowclassify=01",
           width : "100%",
           toolbar:"#out_toolbar",
           queryParams:{ submitTimeBegin:'$!{submitTimeBegin}', 
   			  submitTimeEnd:'$!{submitTimeBegin}'},
           fit:true,
           pagination : true,
           columns : [[
                       {checkbox:true} ,   
                       {field : 'uid', title : '所属对象', width :"200",align:"left", sortable : false,
                          	formatter: function(value,row,index){
   	                            var result = "";
   	                            if(row.uid!=null&&row.uid!=""){
   	                            	if(row.userName!=null){
   		                                result += "<a style='text-decoration:none;color:black;' href=\"javascript:;\" title=\"" + row.userName+"\" onclick='userBasicInfoDetail(\""+row.uid+"\");'>"+row.userName+"</a>";
   		                            }
   		                            if(row.loginName!=null){
   		                                result += "[<a style='text-decoration:none;color:green;' href=\"javascript:;\" title=\"" + row.loginName+"\" onclick='loginLogDetail(\""+row.uid+"\");'>"+row.loginName+"</a>]<br>";
   		                            }
   		                            if(row.sex!=null&&row.sex=="0"){
   		                                result += "[男]";
   		                            }else if(row.sex!=null&&row.sex=="1"){
   		                                result += "[<label style=\"color:blue;\">女</label>]";
   		                            }
   		                            result += "[<label style=\"color:#AAAAAA;\">"+row.uTypeName+"</label>]";
   		                            if(row.idNumber!=null&&row.idNumber!=""){
   		                                result += "<br><label style=\"color:#AAAAAA;\">证件:</label>"+row.idNumber;
   		                            }
   	                            }
   	                            return result;
   	                          }
   	                    },
                       {field : 'tradeSubName', title : '交易类型',align:"left", width :"180", sortable : false},
                       {field : 'bid', title : '对方对象', width :"200",align:"left", sortable : false,
                       	formatter: function(value,row,index){
	                            var result = "";
	                            if(row.objuid!=null&&row.objuid!=""){
	                            	if(row.objUserName!=null){
		                                result += "<a style='text-decoration:none;color:black;' href=\"javascript:;\" title=\"" + row.objUserName+"\" onclick='userBasicInfoDetail(\""+row.objuid+"\");'>"+row.objUserName+"</a>";
		                            }
		                            if(row.objLoginName!=null){
		                                result += "[<a style='text-decoration:none;color:green;' href=\"javascript:;\" title=\"" + row.objLoginName+"\" onclick='loginLogDetail(\""+row.objuid+"\");'>"+row.objLoginName+"</a>]";
		                            }
		                            result += '<label style=\"color:#AAAAAA;\">['+row.objuid+']</label><br>';
		                            result += '<label style=\"color:#AAAAAA;\">[个人]'+row.objAccountTypeName+'</label>';
		                            
	                            
	                            }else if(row.objbid!=null&&row.objbid!=""){
	                            	
	                            	
		                            result += "[标：<a style='text-decoration:none;color:black;' href=\"javascript:;\" title=\"" + +"\" onclick='previewBorrowInfo(\""+row.objbid+"\");'>"+row.objbid+"</a>]";
		                            if(row.objTitle!=null){
		                                result += "<a style='text-decoration:none;color:black;' href=\"javascript:;\" title=\"" + +"\" onclick='previewBorrowInfo(null,\""+row.objbid+"\",\""+row.productTypeId+"\",null);'>"+row.objTitle+"</a>";
		                            }
		                            
		                            result += '<br><label style=\"color:#AAAAAA;\">[标]'+row.objAccountTypeName+'</label>';
		                            
		                            
	                            }else if(row.objcid!=null&&row.objcid!=""){
	                            	
	                            	
	                            	if(row.objStationName!=null&&row.objStationName != ""){
		                                result += "[分站]"+row.objStationName;
		                            }
		                            
	                            	result += '<br><label style=\"color:#AAAAAA;\">[公司]'+row.objAccountTypeName+'</label>';
		                            
	                            }else if(row.objpayCode!=null&&row.objpayCode!=""){
	                            	
	                            	
	                            	if(row.objPayName!=null&&row.objPayName != ""){
		                                result += "[系统]"+row.objPayName;
		                            }
		                            
	                            	result += '<br><label style=\"color:#AAAAAA;\">[外部]'+row.objAccountTypeName+'</label>';
		                            
	                            }
	                            
	                            return result;
	                          }
	                    },
                       {field : 'amount', align:"left",title : '发生额(元)',width :"120", sortable : false,
	                    	 formatter:formatMoney
                       
                       },
                       {field : 'balance', align:"left",title : '发生后额(元)',width :"120", sortable : false,
                    	   formatter:formatMoney
                       
                       },
                       
                       {field : 'memo', align:"left",title : '备注',  width :"365", sortable : false,
                       	formatter: function(value,row,index){
     	     	                return '<span title="' + convertNullStr(row.memo) + '">' +
     	     	                	 convertNullStr(row.memo) + '</span>';
     	                   }
                       },
                       {field : 'operateTime', align:"left",title : '发生时间',  width :"170", sortable : false,
                       	formatter: function(value,row,index){
                       		return formatDateFull(row.operateTime);
                             }
                       }/**,
                       {field : 'fid', title : '流水号', width :"200",align:"left", sortable : false},
                       {field : 'orderid', title : '订单号', width :"200",align:"left", sortable : false}*/
                       ]],
                showFooter : true
       });
       
    }); 
        
</script>
<div id="out_toolbar">
<div class="seach-top clearfix">
	<form>
	  交易状态：<select id="rechargeType" name='tradeSubCode'>
	  <option value="">全部</option>
	  </select>
	  #*交易时间：
	  <input type="text" name="submitTimeBegin" class="iText easyui-datebox" style="width: 120px;" placeholder="交易日期" title="交易日期">
      -
      <input type="text" name="submitTimeEnd" class="iText easyui-datebox" style="width: 120px;" placeholder="交易日期" title="交易日期">      
		*#
		所属对象：
		<input type="text" name="aff" class="iText easyui-tooltip"  title="所属对象">
		对方对象：
		<input type="text" name="objAff" class="iText easyui-tooltip"  title="对方对象">
		交易时间：
		<input type="text" name="submitTimeBegin" class="iText easyui-datebox" style="width: 120px;" value="$!{submitTimeBegin}" placeholder="交易日期" title="交易日期">
	    -
	    <input type="text" name="submitTimeEnd" class="iText easyui-datebox" style="width: 120px;" value="$!{submitTimeEnd}" placeholder="交易日期" title="交易日期"> 
      <button id ="btn_qry" class="but-seach" type ="button" >查询</button>
    </form>
</div>
</div>

<table id="tableList"/>


