#*
User: zhangbaoxin
手工充值--新增
*#
<script type="text/javascript">
	var params;
	$(function(){
		 $('#selectBorrower').bind('click', function(){
	         openedDialog = parent.sy.modalDialog({
	             url : '${rc.contextPath}/manual/recharge/selectBorrower',
	             title : '选择借款人',
	             width : 680,
	             height : 500,
	             cache : false,
	             closable : true,
	             modal : true,
	             buttons: [{ 
		            	 text: '保存', 
		            	 iconCls: 'icon-ok', 
		            	 handler: function() {
		            		 openedDialog.find('iframe').get(0).contentWindow.sel(openedDialog, params,$("#manual_recharge_id"),$("#tt tr:gt(0):eq(0)"));
		            	 } 
	             	},
	            	{ 
		            	 text: '取消', 
		            	 handler: function() { 
		            		 openedDialog.dialog('destroy');
		            } 
	             }]
	         });
	     });
		 
		 $('#selectInvestor').bind('click', function(){
	         openedDialog = parent.sy.modalDialog({
	             url : '${rc.contextPath}/manual/recharge/selectInvestors',
	             title : '选择投资人',
	             width : 500,
	             height : 500,
	             cache : false,
	             closable : true,
	             modal : true,
	             buttons: [{ 
		            	 text: '保存', 
		            	 iconCls: 'icon-ok', 
		            	 handler: function() {
		            		 openedDialog.find('iframe').get(0).contentWindow.sel(openedDialog, params,$("#manual_recharge_id"),$("#tt tr:gt(0):eq(0)"));
	            	 } 
	             	},
	            	{ 
		            	 text: '取消', 
		            	 handler: function() { 
		            		 openedDialog.dialog('destroy');
		            } 
	             }]
	         });
	     });
		 
		 $('#selectAgency').bind('click', function(){
	         openedDialog = parent.sy.modalDialog({
	             url : '${rc.contextPath}/manual/recharge/selectAgency',
	             title : '选择中介',
	             width : 500,
	             height : 450,
	             cache : false,
	             closable : true,
	             modal : true,
	             buttons: [{ 
		            	 text: '保存', 
		            	 iconCls: 'icon-ok', 
		            	 handler: function() {
		            		 openedDialog.find('iframe').get(0).contentWindow.sel(openedDialog, params,$("#manual_recharge_id"),$("#tt tr:gt(0):eq(0)"));
		            	 } 
	             	},
	            	{ 
		            	 text: '取消', 
		            	 handler: function() { 
		            		 openedDialog.dialog('destroy');
		            } 
	             }]
	         });
	     });
	});
	
	/**
	 * 设置冻结金额
	 */
	function setFreeze(count,apr){
		var comput = 0;
		if(parseFloat(apr) >= 1){
			comput = apr
		}else{
			comput = (count*apr).toFixed(2);
		}
		if(isNaN(comput)){
			$("#dongjie").html("0元");
			$("#deposit").val("0");
			$("#dongjie").css("color","2828FF");
		}else{
			if(comput >= 10000 && comput < 100000000){
				$("#dongjie").html((comput/10000).toFixed(2)+"万");
				$("#dongjie").css("color","28FF28");
			}else if (comput >= 100000000){
				$("#dongjie").html((comput/100000000).toFixed(2)+"亿");
				$("#dongjie").css("color","red");
			}else{
				$("#dongjie").html(comput+"元");
				$("#dongjie").css("color","2828FF");
			}
			$("#deposit").val(comput);
		}
	}
	
	//保存修改的标的类型信息
	function save(openedDialog,grid){
		
		if ($('form').form('validate')){
			var amount = $("#amount").val();
			var fee = $("#fee").val();
			$("#amountHidden").val(amount);
			if(parseFloat(amount)<0||!compareNum(amount,fee)){
				$.messager.alert("提示","金额必须大于0且大于手续费!");
				return ;
			}
			$.ajax({
				type: "post", async: false, cache: false,
				url: '${rc.contextPath}/manual/recharge/add',
				data:$("#manual_recharge_id").serialize()+"&amount"+amount,
				success: function (resp) {
					if(resp.success){
						openedDialog.dialog('destroy');
						grid.datagrid('reload');
					}else{
						if(resp.msg){
							$.messager.alert('提示', resp.msg,'error');
						}else{
							$.messager.alert('提示', "充值失败",'error');
						}
					}
					
				},
				error: function (msg) {
					$.messager.alert('提示', "充值失败",'error');
					return;
				}
				
			});
		}
		
		
	} 
	//关闭添标的类型窗口
	function closeDialog(reload){
	    openedDialog.dialog('destroy');
	    if(reload){         
	    	$('#tableList').datagrid('reload');
	    }
	}
	
</script>
<div data-options="iconCls:'icon-save''">
	<form method="post" id="manual_recharge_id">
        <table id="tt" class="form-table" cellpadding="5" style="font-size: 13px;height: 15px;">
			#*<tr>
				<td class="name">标题：</td>
				<td class="info"><input type="text" id="title" name="title" class="easyui-validatebox textInpnt"/></td>
			</tr>*#
			<tr>
				<td class="name"><em>*</em>对象：</td>
				<input type='hidden' id="uid" name="uid"/>
				<input type='hidden' id="cid" name="cid"/>
				<input type='hidden' id="utype" name="utype"/>
				<input type="hidden" id="amountHidden" name="amount"/>
				<td class="info"><input type="text" id="username" name="username" readOnly  class="easyui-validatebox textInpnt" data-options="required:true"/>
				<a href="#" id="selectBorrower" icon="icon-search">借款人</a>
				<a href="#" id="selectInvestor" icon="icon-search">投资人</a>
				<a href="#" id="selectAgency" icon="icon-search">中介</a>
				</td>
			</tr>
			<tr>
				<td class="name"><em>*</em>申请金额：</td>
				<td class="info"><input id="amount" name="amount" class="easyui-numberbox textInpnt"  onkeyup="formatInputCash(this)" data-options="required:true,min:0,precision:2"/>
				</td>
			</tr>
			<tr>
				<td class="name">手续费：</td>
				<td class="info"><input id="fee" name="fee" class="easyui-numberbox textInpnt" value="0" data-options="min:0,precision:2"/></td>
			</tr>
			
			<tr>
				<td class="name">充值名目：</td>
				<td class="info">
					<select name="rechargeType" class="easyui-combobox" style="width:180px;">
						<option value="1" checked="checked">个人充值</option>
						<option value="2">还款充值</option>
						<option value="3">预借款</option>
					</select>
				</td>
			</tr>
		
			<tr>
				<td class="name">理由/说明：</td>
				<td class="info"><textarea id="memo" name="memo" style="width:180px;height:80px;"></textarea></td>
			</tr>
		</table>
	</form>
</div>
