#*
User: zhangbaoxin
手工充值--列表
*#
#parse("layout/global.vm")
<script type="text/javascript" charset="UTF-8">
	$(function() {
		$(".iText").keydown(function (e) { 
			 var key = e.which;
			 if (key == 13) { 
				 findData();
			 } 
		 });
		//表格框	
        $('#tableList').datagrid({
        	fit : true,// 最大化，自适应屏幕
            url:'${rc.contextPath}/manual/recharge/dataGrid',
            pagination : true,
            striped : true, 
            singleSelect:true,
            toolbar:"#search",
            queryParams:{ 
           		startTime:'$!{startTime}', 
           		endTime:'$!{endTime}',
           		tradeState:'$!{tradeState}'},
            columns : [[
                {checkbox:true} ,      
                {field : 'accountNo', title : '账号', width :"185", sortable : false,
                	formatter: function(value,row,index){
     	               	var status = row.utype;
     	               	if(status == '01'){
     	               		status = '[投]';
     	               	}else if (status == '02'){
     	               		status = '[借]';
     	               	}else if(status == '03'){
     	               		status = '[介]';
     	               	}
     	               	var result = "";
    	               	if(row.uid)result = result + "<a href='#' onclick='userBasicInfoDetail("+row.uid+")'>"+row.userName+"</a>["+row.loginName+"]"+status;
    	               	if(row.idNumber) result = result +"<br/>证件："+row.idNumber;
    	               	if(row.mobile) result = result +"<br/>手机：" +row.mobile;
    	               	if(row.stationName)result = result +"<br/>站点：" +row.stationName;
    	               	return result;
     	               
                	 }
                },
                {field : 'customName', title : '所属客服',width :"130", sortable : false,
                	formatter: function(value,row,index){
                		var result = "";
                		if(row.customName) result = row.customName;
                		else result  = '[无姓名]';
                		return result;
                	 }
                },
                {field : 'tradeStateShow', title : '交易状态',width :"200", sortable : false,
                	formatter: function(value,row,index){
                		var result = "";
                		if(row.tradeStateShow)result = result+"状态："+formatYellow(row.tradeStateShow);
                		if(row.auditOpinion)result = result+"<br/>审核："+row.auditOpinion
                		if(row.tradesubcodeshow)result = result + "<br/>归类："+row.tradesubcodeshow;
     	                return result;
                	 }

                
                },
                {field : 'memo', title : '标题',width : 350, sortable : true,align:'center',
                	formatter: function(value,row,index){
                		var result = "";
                		if(row.orderid)result = result + "单号："+row.orderid;
                		if(row.title)result = result+ "<br/>"+row.title;
                		if(row.memo)result = result +"<br/>"+row.memo;
     	                return result;
                	 }
                
                },
                {field : 'money',title : '资金操作', width :"185", sortable : false,
                	 formatter: function(value,row,index){
     	                return "申请金额："+formatMoney(row.amount)+
     	                		"<br/>实际到账："+formatMoney(row.actualAmount)+
     	                		"<br/>手续费："+formatMoney(row.fee)+
     	                		"<br/>提交人："+convertNullStr(row.operator)+
     	                		"<br/>审核人："+convertNullStr(row.auditor);
                	 }
                },
                {field : 'time',title : '时间', width :"185", sortable : false,
	               	 formatter: function(value,row,index){
	               		var result = "";
	           		 	if(row.submitTime) result = result +"提交："+formatDateFull(row.submitTime);
	           		 	if(row.checkTime) result = result +"<br/>审核："+formatDateFull(row.checkTime);
	           		 	if(row.operateTime) result = result +"<br/>到账："+formatDateFull(row.operateTime);
		                return  result;
    	                		
               	 }
               }
            ]],
            onLoadSuccess:function(){
            	var tradeState = $("#tradeState").val();
    		    var utype = $("#utype").val();
    		    var rechargeType = $('#rechargeType').val();
    		    var rechargeAccount = $('#rechargeAccount').val();
    		    var startTime= $("input[name='startTime']").val();
    		    var endTime= $("input[name='endTime']").val();
    		    var approveTime= $("input[name='approveTime']").val();
            	
          		$.ajax({
			     	type:'POST',
			     	url:'${rc.contextPath}/manual/recharge/queryTotalOrderInfo',
			     	data:{    
			     		tradeState : tradeState,    
			     		utype : utype,
			     		rechargeType:rechargeType,
			     		rechargeAccount:rechargeAccount,
			     		startTime:startTime,
			     		endTime:endTime,
			     		approveTime:approveTime
			    	},
			    	dataType:'json',
			    	success:function(data){
				    	var pager = $('#tableList').datagrid('getPager');// 得到datagrid的pager对象  
		            	pager.pagination({
		            	    displayMsg:"<div id=\"foo1\" style=\"foo1\"><label style=\"color:black;\">申请额总计:</label><label style=\"color:GREEN;\">"+data.amount+"</label>元"
		            	    +"&nbsp;&nbsp;&nbsp;&nbsp;<label style=\"color:black;\">实际额总计:</label><label style=\"color:GREEN;\">"+data.actualAmount+"</label>元"
		            	    +"&nbsp;&nbsp;&nbsp;&nbsp;<label style=\"color:black;\">手续费笔数:</label><label style=\"color:GREEN;\">"+data.feeCount+"</label>笔"
		            	    +"&nbsp;&nbsp;&nbsp;&nbsp;<label style=\"color:black;\">手续费:</label><label style=\"color:GREEN;\">"+data.fee+"</label>元"
		            	    +"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
		            	    		"<span id=\"foo2\">显示{from}到{to},共{total}记录<span></div>",
		            	});
			    	}
			    });
            }
        });
    /*    
        	$.post(
        		'${rc.contextPath}/company/recharge/getRechargeType', 
        		{}, 
        		function (resp) { 
        			if(resp.success){
        				var data = resp.data;
        				for(var index in data){
        					$("#rechargeType").append("<option value='"+index+"'>"+data[index]+"</option>");
        				}
        			}
        		});*/
        	
        	   //添加投资人按钮
            $('#btn_add').linkbutton({plain:true});
            $('#btn_add').bind('click', function(){
                openedDialog = parent.sy.modalDialog({
                    url : '${rc.contextPath}/manual/recharge/addManualRecharge',
                    title : '添加充值申请',
                    width : 580,
                    height : 395,
                    cache : false,
                    closable : true,
                    modal : true,
                    buttons: [{ 
		            	 text: '提交', 
		            	 iconCls: 'icon-ok', 
		            	 handler: function() {
		            		 openedDialog.find('iframe').get(0).contentWindow.save(openedDialog,$("#tableList"));
		            	 } 
	             	},
	            	{ 
		            	 text: '取消', 
		            	 handler: function() { 
		            		 openedDialog.dialog('destroy');
		            } 
	             }]
                });
            });
            
            //添加投资人按钮
            $('#btn_audit').linkbutton({plain:true});
            $('#btn_audit').bind('click', function(){
            	var row = getDatagridSelected();
            	if( row.tradeState != '01'){
        			$.messager.alert("操作提示", "只能审批充值状态为“待审批”的记录！");
        			return;
        		}
            	
                openedDialog = parent.sy.modalDialog({
                    url : '${rc.contextPath}/manual/recharge/auditManualRecharge?id='+row.id,
                    title : '资金变动审核',
                    width : 580,
                    height : 350,
                    cache : false,
                    closable : true,
                    modal : true,
                    buttons: [{ 
		            	 text: '提交', 
		            	 iconCls: 'icon-ok', 
		            	 handler: function() {
		            		 openedDialog.find('iframe').get(0).contentWindow.audit(openedDialog,row,$("#tableList"));
		            	 } 
	             	},
	            	{ 
		            	 text: '取消', 
		            	 handler: function() { 
		            		 openedDialog.dialog('destroy');
		            } 
	             }]
                });
            });
		});
	
	 function findData(){  
         $('#tableList').datagrid('load',{
        	tradeState: $("#tradeState").val(),
		    utype:$("#utype").val(),
		    rechargeType:$('#rechargeType').val(),
		    rechargeAccount:$('#rechargeAccount').val(),
		    startTime: $("input[name='startTime']").val(),
	       	endTime: $("input[name='endTime']").val(),
	       	approveTime: $("input[name='approveTime']").val()
         });
     } 
	 
	 //验证表格单选框选中对象
	    function getDatagridSelected(){
	        var rows = $('#tableList').datagrid("getSelections");
	        if(rows.length==0){
	            $.messager.alert('警告','请选择要操作的行!','warning');
	            return null;
	        }else if(rows.length>1){
	            $.messager.alert('警告','只能同时操作一行数据，请重新选择!','warning');
	            return null;
	        }else{
	            return rows[0];
	        }
	    }
	 
	 function exportExcel(){
		 var url = "${rc.contextPath}/manual/recharge?method=exportExcel";
		 var tradeState = $("#tradeState").val();
		 var utype = $("#utype").val();
		 var rechargeType = $('#rechargeType').val();
		 var rechargeAccount = $('#rechargeAccount').val();
		 var startTime= $("input[name='startTime']").val();
		 var endTime= $("input[name='endTime']").val();
		 var approveTime= $("input[name='approveTime']").val();
		 if(!startTime||!endTime){
	     		$.messager.alert("操作提示", "导出的数据量不能超过一个月！","warning");
	     		return;
	     }
	     	 
	  	 if(dateDiff(startTime,endTime)>31){
	   		$.messager.alert("操作提示", "导出的数据量不能超过一个月！","warning");
	   		return;
	   	 }
		 window.location.href = url+"&tradeState="+tradeState+"&utype"+utype+
		 			"&rechargeType="+rechargeType+"&rechargeAccount="+rechargeAccount+"&startTime="+startTime+"&endTime="+endTime+
		 			"&approveTime="+approveTime;
		 ;
	 }
	 
</script>

	<!-- 查询条件 -->
	<div id="search">
		<div class="seach-top clearfix">
		  <form>
		  充值名目
	      <select name="rechargeType" id="rechargeType" class="easyui-tooltip">
	      		<option value="">全部</option>
	            <option value="1">个人充值</option>
	            <option value="2">还款充值</option>
	            <option value="3">预借款</option>
	      </select>
	     	 审核状态：
	      <select name="tradeState" id="tradeState" class="easyui-tooltip" >
      		<option value="">全部</option>
            <option value="01" #if($tradeState && $tradeState=="01") selected="selected" #end>等待审核</option>
            <option value="04" #if($tradeState && $tradeState=="04") selected="selected" #end>已审核</option>
            <option value="03" #if($tradeState && $tradeState=="03") selected="selected" #end>审核失败</option>
      </select>
		    申请时间：
	            <input type="text" id="startTime" value="$!{startTime}" name="startTime" data-options="editable:false" class="iText easyui-datebox" style="width: 120px;" placeholder="选择日期" title="选择日期">
	            -
	            <input type="text" id="endTime" value="$!{endTime}" name="endTime" data-options="editable:false" class="iText easyui-datebox" style="width: 120px;" placeholder="选择日期" title="选择日期"> 
	          &nbsp;&nbsp;&nbsp;&nbsp;
	          审批时间 ： <input type="text" id="approveTime" name="approveTime" class="iText easyui-datebox" style="width: 120px;" placeholder="选择日期" title="选择日期">           
	      <input id="rechargeAccount" name="rechargeAccount" class="iText" placeholder="登录名,用户名,手机号码,身份证" style="width:220px;"/>
		      <a href="javascript:findData()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
		      <a href="javascript:exportExcel()" class="easyui-linkbutton" data-options="iconCls:'icon-excel'">导出excel</a>
		  </form>
		  <div id="btn">
	        <div class="operate-bnt">
			    <a href="javascript:void(0)" id="btn_add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>&nbsp;&nbsp;
			   #if($auth)
                <a href="javascript:void(0)" id="btn_audit" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">审批</a>&nbsp;&nbsp;
               #end
               </div>
	      </div>
		</div>
	</div>
	<!-- 列表信息 -->
	<table id="tableList"></table>
