#*
User: yuexia.zhang
返还标抵押金申请审批
*#
<script type="text/javascript">
	var params;
	$(function(){});
	function audit(openedDialog,row,grid){
		var checkVal = $("input[name='approve']:checked").val();
		var id = $("#fid").val();
		
		if ($('form').form('validate')){
			  $.post(
				'${rc.contextPath}/returnPledge/approve', 
		         {
		        	id:id,
		        	approve:checkVal,
		        	tradeState:$("#tradeState").val(),
			        auditComment:$("#auditComment").val()
		         }, 
        		 function (resp) {
        			if(resp.success){
        				openedDialog.dialog('destroy');
        				grid.datagrid('reload');
        			}else{
        				$.messager.alert("提示",resp.msg,"error");
        			}
        		});
		}
		
		
	} 
</script>
<div data-options="iconCls:'icon-save''">
	<form method="post" id="manual_recharge_id">
		<input type="hidden" id="fid" value="$!{orderInfo.id}"/>
        <table class="form-table" cellpadding="5" style="font-size: 13px;height: 15px;">
			<tr>
				<td class="name">操作对象：</td>
				<td class="orderInfo">$!{orderInfo.userName}</td>
			</tr>
			<tr>
				<td class="name">扣款标题：</td>
				<td class="orderInfo">$!{orderInfo.title}</td>
			</tr>
			<tr>
				<td class="name">扣款说明：</td>
				<td class="orderInfo">$!{orderInfo.memo}</td>
			</tr>
			<tr>
				<td class="name">操作金额：</td>
				<input type='hidden' id="tradeState" name="tradeState" value="$!{orderInfo.tradeState}"/>
				<td class="orderInfo" id="amount">$!{orderInfo.amount}</td>
			</tr>
			<tr>
				<td class="name">手续费：</td>
				<td class="orderInfo">$!{orderInfo.fee}</td>
			</tr>
			
			<tr>
				<td class="name">审核操作：</td>
				<td class="orderInfo">
					<input type="radio" name="approve" value="1" checked="checked"/>通过 
					<input type="radio" name="approve" value="2"/>不通过
				</td>
			</tr>
			<tr>
				<td class="name">审批意见：</td>
				<td class="orderInfo"><input type="text" id="auditComment" name="auditComment" class="easyui-textbox textInpnt"/></td>
			</tr>
		</table>
	</form>
</div>
