
<script type="text/javascript" charset="UTF-8">
	$(function(){
		//刷新按钮
	    $('#reload_btn_id').bind('click', function(){
	        reloadDataGrid();
	    });
	    
	    //新增
		$('#btn_add').click(function() {
			crud({
				width : 360,
				height : 270,
				title : '添加标的管理套餐',
				url : '${rc.contextPath}/bid/bidPackage/loadSave',
				suburl : '${rc.contextPath}/bid/bidPackage/save'
			}).add();
		});
		//修改
		$('#btn_mod').click(function() {
			var row = $('#tableList').datagrid('getSelected');
			if ($('#tableList').datagrid('getSelections').length != 1) {
				$.messager.alert('提示', '请选择一行！');
				return;
			}
			crud({
				width : 600,
				height : 565,
				title : '用户信息修改',
				url : '${rc.contextPath}/employee/preEdit',
				suburl : '${rc.contextPath}/employee/doEdit'
			}).update();
		});
	    //加载表格
		$('#tableList').datagrid({
			url:'${rc.contextPath}/bid/bidPackage/query',
			fit:true,
			//method:'get',
			columns:[[ 
			   {checkbox : true},
			   {field : 'id', hidden:true},
	           {field:'title',title:'标题',width:'200'},    
	           {field:'note',title:'说明',width:'300'},    
	           {
	        	   field:'repaymentStyle',
	        	   title:'还款方式',
	        	   width:'300',
	        	   formatter:function(value){
	        		   if(value==0){
	        			   return '月还息到期还本';
	        		   }else{
	        			   return '等额本息';
	        		   }
	        	   }
	           },
	           {
	        	   field:'pledgeType',
	        	   title:'是否抵押',
	        	   width:'300',
	        	   formatter:function(value){
	        		   if(value==false){
	        			   return '非抵押';
	        		   }else{
	        			   return '抵押';
	        		   }
	        	   }
	           },
	           {
	        	   field:'gmtCreated',
	        	   title:'创建时间',
	        	   width:'300',
	        	   formatter:function(value){
	        		   return formatDateFull(value);
	        	   }
	           
	           }
	           
			]],
			rowStyler: function(index,row){
                if (row.state=="0"){
                    return 'color:red;';
                }
            }

		});
		
	});
	
  //刷新表格
    function reloadDataGrid(){
        $('#tableList').datagrid('reload');
    }
	
</script>

<!-- 功能按钮 -->
<div id="btn">
    <div class="operate-bnt">
    <a href="javascript:void(0)" id="reload_btn_id" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">刷新</a>
    <div class="datagrid-btn-separator"></div>
    <a href="javascript:void(0)" id="btn_add" class="easyui-linkbutton" data-options="iconCls:'ext-icon-note_add',plain:true">新增</a>&nbsp;&nbsp;
    <a href="javascript:void(0)" id="btn_mod" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>&nbsp;&nbsp; 
    <a href="javascript:void(0)" id="btn_del" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>&nbsp;&nbsp;
    </div>
</div>
	<table id="tableList"></table>
</div>