#*Created by IntelliJ IDEA.
User: dongxc
Date: 2015/07/21
新增手机版本页面
*#
<div data-options="iconCls:'icon-save''">
    <form method="post" id="" class="form" >
        <table class="form-table" cellpadding="5" style="font-size: 13px;height: 15px;">
            <tr>
                <td class="name" style="width: 100px;"><em>*</em>版本：</td>
                <td class="info">
                    <input type="text" data-options="required:true,validType:'length[1,20]'" class="easyui-validatebox textInpnt" style="width:220px;" name="version" id="version" value="$!{ad.version}" /></td>
            </tr>
            <tr>
            <td class="name" style="width: 100px;"><em>*</em>是否强制更新：</td>
            <td class="info">
                <select name="isupdate" data-options="required:true" id="isupdate" class="easyui-validatebox textInpnt" style="width:220px;" title="请选择是否强制更新">
                    <option value="">请选择是否强制更新</option>
                    <option value="1" style="color: green;" #if($ad.isupdate && $ad.isupdate=="1") selected="selected" #end>是</option>
                    <option value="0" style="color: green;" #if($ad.isupdate && $ad.isupdate=="0") selected="selected" #end>否</option>
                </select>
            </td>
        </tr>
            <tr>
                <td class="name" style="width: 100px;"><em>*</em>客户端：</td>
                <td class="info">
                    <select name="osType" data-options="required:true" id="osType" class="easyui-validatebox textInpnt" style="width:220px;" title="请选择展示客户端类型">
                        <option value="">请选择展示客户端类型</option>
                        <option value="0" style="color: green;" #if($ad.osType && $ad.osType=="0") selected="selected" #end>IOS客户端</option>
                        <option value="1" style="color: green;" #if($ad.osType && $ad.osType=="1") selected="selected" #end>安卓客户端</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="name" style="width: 100px;"><em>*</em>路径：</td>
                <td>
                	<input type="text" data-options="required:true,validType:'length[1,300]'" class="easyui-validatebox textInpnt" style="width:220px;" name="url" id="url" value="$!{ad.url}" />
                </td>
            </tr>
            <tr>
	            <td class="name" style="width: 100px;">MAC地址：</td>
	            <td>
	            	<input type="text" class="easyui-validatebox textInpnt" style="width:220px;" name="macadd" id="macadd" value="$!{ad.macadd}" />
	            </td>
            </tr>
            <tr>
	            <td class="name" style="width: 100px;">信息：</td>
	            <td><textarea rows="3" name="info" id="info" style="width: 220px;">$!{ad.info}</textarea>
	            </td>
            </tr>
        </table>
        <input type="hidden" name="id" id="id" value="$!{ad.id}"/>
    </form>
</div>
<script type="text/javascript">
    var submitForm = function($dialog, $grid, $pjq) {
        if ($('form').form('validate')) {
            var url='${rc.contextPath}/mobileversion/updateMobileVersion';
            var resObj = $.serializeObject($('form'));
            $.post(url, resObj, function(obj) {
                if(obj.result == "success"){
                    $.messager.show({title: "提示",msg: obj.msg,showType: 'slide',timeout: 3000});
                    setTimeout(function(){
                            $grid.datagrid('reload');
                            $dialog.dialog('destroy');
                    }, 4000);
                    return;
                }else{
                    $.messager.alert('提示',obj.msg,'error');
                    return;
                }
            }, 'json');
        }
    };
</script>