#*Created by IntelliJ IDEA.
User: xukaiyu
Date: 2015/09/01
手机版本
*#
<div id="ad_toolbar">
    <!-- 查询条件 -->
    <div class="seach-top clearfix">
        <div class="fl">
            <a href="javascript:void(0)" id="reload_btn_id" icon="icon-reload">刷新</a>
            <!-- <a href="javascript:void(0)" id="add_btn_id" icon="icon-add">添加</a> -->
            <a href="javascript:void(0)" id="mod_btn_id" icon="icon-edit">修改</a>
            <a href="javascript:void(0)" id="del_btn_id" icon="icon-clear">删除</a>
        </div>
        <div class="fr">
            #*<span style=" float: left; margin: 5px 0 0 0;">查询：</span>*#
            <select name="type" id="type" class="easyui-tooltip" title="请选择展示客户端类型" onchange="datagridReload('load');">
                <option value="">请选择展示客户端类型</option>
                <option value="0" style="color: green;">IOS客户端</option>
                <option value="1" style="color: green;">安卓客户端</option>
                <option value="">全部</option>
            </select>
        </div>
    </div>
</div>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false">
        <table id="tableList"></table>
    </div>
</div>
<script type="text/javascript">
    var openedDialog;
    var grid;
    $(document).ready(function(){
        //刷新按钮
        $('#reload_btn_id').linkbutton({plain:true});
        $('#reload_btn_id').bind('click', function(){
            datagridReload('load');
        });
        //添加按钮
        /*$('#add_btn_id').linkbutton({plain:true});
        $('#add_btn_id').bind('click', function(){
            openedDialog = parent.sy.modalDialog({
                height:"350",
                title : '添加手机版本',
                url : '${rc.contextPath}/mobileversion/addMobileVersionPage',
                buttons : [{
                    text : '保存',
                    handler : function() {
                        openedDialog.find('iframe').get(0).contentWindow.submitForm(openedDialog, grid, parent.$);
                    }
                }, {
                    text : '关闭',
                    iconCls : 'icon-no',
                    handler : function() {
                        openedDialog.dialog('destroy');
                    }
                }]
            });
        });*/
        //修改按钮
        $('#mod_btn_id').linkbutton({plain:true});
        $('#mod_btn_id').bind('click', function(){
            var row = getDatagridSelected();
            if (row!=null && row.id !=null && row.id!="") {
                openedDialog = parent.sy.modalDialog({
                    height:"350",
                    title : '修改手机版本信息',
                    url : '${rc.contextPath}/mobileversion/updateMobileVersionPage?id='+row.id,
                    buttons : [ {
                        text : '保存',
                        handler : function() {
                            openedDialog.find('iframe').get(0).contentWindow.submitForm(openedDialog, grid, parent.$);
                        }
                    }, {
                        text : '关闭',
                        iconCls : 'icon-no',
                        handler : function() {
                            openedDialog.dialog('destroy');
                        }
                    } ]
                });
            }
        });
        //删除按钮
        $('#del_btn_id').linkbutton({plain:true});
        $('#del_btn_id').bind('click', function(){
            var row = getDatagridSelected();
            if (row!=null && row.id !=null && row.id!="") {
                $.messager.confirm('确认', '确认要删除吗？', function(data) {
                    if (data) {
                        var url =  '${rc.contextPath}/mobileversion/deleteMobileVersion';
                        $.post(url, {"id":row.id}, function(obj) {
                            if(obj.result == "success"){
                                $.messager.show({title: "提示",msg: obj.msg,showType: 'slide',timeout: 2000});
                                setTimeout(function(){
                                    datagridReload('load');
                                }, 3000);
                                return;
                            }else{
                                $.messager.alert('提示',obj.msg,'error');
                                return;
                            }
                        }, 'json');
                    }
                });
            }
        });
        //表格框
        grid=$('#tableList').datagrid({
            fit : true,// 最大化，自适应屏幕
            pagination : true,
            url:"${rc.contextPath}/mobileversion/mobileversionDataGrid",
            toolbar : "#ad_toolbar",
            border : false,// 边线是否显示
            singleSelect:true,
            columns : [[
                {checkbox : true},
                {field : 'version', title : '版本', width :"180", sortable : false},
                {field : 'url', title : '路径', width :"300", sortable : false},
                {field : 'macadd', title : 'mac地址', width :"200", sortable : false},
                {field : 'info', title : '内容', width :"300", sortable : false},
                {field : 'createTime', title : '创建时间', width :"170", sortable : false,
                    formatter: function(value,row,index) {
                        var result = "";
                        result = formatDateFull(row.createTime);
                        return result;
                    }
                },
                {field : 'isupdate', title : '是否强制更新', width :"160", sortable : false,
                    formatter: function(value,row,index){
                        var result = "";
                        if(row.isupdate!=null&&row.isupdate=="0"){
                            result = "否";
                        }else if(row.isupdate!=null&&row.isupdate=="1"){
                            result = "是";
                        }
                        return result;
                    }
                },
                {field : 'osType', title : '客户端', width :"160", sortable : false,
                    formatter: function(value,row,index){
                        var result = "";
                        if(row.osType!=null&&row.osType=="0"){
                            result = "IOS客户端";
                        }else if(row.osType!=null&&row.osType=="1"){
                            result = "安卓客户端";
                        }
                        return result;
                    }
                }
            ]],
            queryParams:{
            	osType:$("#type").val()
            },
            onLoadSuccess:function(data){
                $('#tableList').datagrid('unselectAll');
            }
        });
    });
    //表格刷新
    function datagridReload(way){
        if(way==undefined||way==null||way==""||(way!="load"&&way!="reload")){
            way = "reload";
        }
        $('#tableList').datagrid(way,{
        	osType:$("#type").val()
        });
    }
    //验证表格单选框选中对象
    function getDatagridSelected(){
        var rows = $('#tableList').datagrid("getSelections");
        if(rows.length==0){
            $.messager.alert('警告','请选择要操作的行!','warning');
            return null;
        }else if(rows.length>1){
            $.messager.alert('警告','只能同时操作一行数据，请重新选择!','warning');
            return null;
        }else{
            return rows[0];
        }
    }
</script>
