#*Created by IntelliJ IDEA.
User: dongxc
Date: 2015/08/05
Time: 19:53
推荐人设置页面
*#
<div id="setting_toolbar">
    <div class="operate-bnt">
        <a href="javascript:void(0)" id="reload_btn_id" icon="icon-reload">刷新</a>
        <span style="color: #808080; margin-left:10px;">单击可进行修改</span>
    </div>
</div>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false">
        <table id="tableList"></table>
    </div>
</div>
<script type="text/javascript">
    var openedDialog ;
    var grid;
    $(document).ready(function(){
        //刷新按钮
        $('#reload_btn_id').linkbutton({plain:true});
        $('#reload_btn_id').bind('click', function(){
            reloadDataGrid();
        });
        //表格框
        grid = $('#tableList').datagrid({
            url:"${rc.contextPath}/refManage/settingDataGrid",
            width : "100%",
            fit:true,
            singleSelect:true,
            pagination : true,
            striped : true,
            border : false,// 边线是否显示
            rownumbers: true,
            columns : [[
                {field : 'beginTime', title : '开始时间', width :"100", sortable : false,
                    formatter: function(value,row,index){
                        var result = value;
                        result = formatDate(result)
                        return result;
                    }
                },
                {field : 'endTime', title : '结束时间', width :"100", sortable : false,
                    formatter: function(value,row,index){
                        var result = value;
                        result = formatDate(result)
                        return result;
                    }
                },
                {field : 'moneyReferrer', title : '推荐人成功注册奖励(元)', width :"155", sortable : false},
                {field : 'moneyReferral', title : '被推荐人成功注册奖励(元)', width :"155", sortable : false},
                {field : 'moneyCustom', title : '自定义投资提成奖励', width :"120", sortable : false,
                    formatter: function(value,row,index){
                        var result = value;
                        result += "元";
                        return result;
                    }
                },
                {field : 'moneyNums', title : '投资奖励人次', width :"110", sortable : false,
                    formatter: function(value,row,index){
                        var result = value;
                        result += "次/人";
                        return result;
                    }
                },
                {field : 'moneyNeed', title : '投资奖励要求金额', width :"120", sortable : false,
                    formatter: function(value,row,index){
                        var result = value;
                        result += "元";
                        return result;
                    }
                },
                {field : 'effectiveH', title : '有效名额', width :"90", sortable : false},
                {field : 'effectiveT', title : '奖励截止日期', width :"110", sortable : false,
                    formatter: function(value,row,index){
                        var result = value;
                        result = formatDate(result)
                        return result;
                    }
                },
                {field : 'moneyBl', title : '每笔投资奖励金额', width :"110", sortable : false,
                    formatter: function(value,row,index){
                        var result = value;
                        result += "%";
                        return result;
                    }
                }
            ]],
            onClickRow:function(rowIndex, rowData){
                openedDialog = parent.sy.modalDialog({
                    height:"530",
                    title : '修改推荐活动设置',
                    url : '${rc.contextPath}/refManage/updateReferrerSetting?id='+rowData.id,
                    buttons : [{
                        text : '保存',
                        handler : function() {
                            openedDialog.find('iframe').get(0).contentWindow.submitForm(openedDialog, grid, parent.$);
                        }
                    }, {
                        text : '关闭',
                        iconCls : 'icon-no',
                        handler : function() {
                            openedDialog.dialog('destroy');
                        }
                    } ]
                });
            },
            toolbar : "#setting_toolbar"
        });
    });
    //刷新表格
    function reloadDataGrid(){
        $('#tableList').datagrid('reload');
    }
</script>